

table#usersTable tr {
    cursor: pointer;

}

.page-functions{

    padding-left: 0 !important;
    padding-right: 0 !important;
}
section.top-functions{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20vh;
 
    margin-bottom: 2em;
}

section.bottom-functions{
    padding: 1em;
}