    :root{
    --green: hsl(147, 50%, 47%);
    --light-green: hsl(100, 86%, 74%);
    --dark-green:hsl(147, 49%, 35%); ;
    --supreme-dark-green: rgb(22, 59, 10);
    --red: hsl(4, 82%, 63%);   
    --body-color:hsl(225, 100%, 99%);
    --yellow: hsl(42, 100%, 75%);
    --grey-dark:hsl(0, 0%, 33%);
    --grey-blue: hsl(217, 31%, 72%);
    --grey-medium:  hsl(216, 21%, 86%);
    --grey-light: hsl(215, 30%, 92%);
    /* other colors 
    https://mdbootstrap.com/docs/standard/content-styles/colors/
    */
    --teal-100: #E0F2F1;
    --teal-100: #B2DFDB;
    --teal-200: #80CBC4;
    --teal-300: #4DB6AC;
    /*--teal-400:#26A69A;*/
    --teal-400:#00796B;
    --teal-500: #26A69A;
    --teal-600: #00897B;
    --teal-700:#00796B;
    --teal-800: #00695C;
    --teal-900:#004D40;

  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Nunito';
  }

  body{
      background-color: var(--body-color);
  }
  .sr-only{
    position: absolute;
    display: none;
    visibility: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
    clip-path: rect(0,0,0,0);
  }
  .disable{
    position: absolute;
    display: none;
    visibility: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
    clip-path: rect(0,0,0,0);
  }

  #logotipo :nth-child(1){
    font-weight: bold;
  }
